[data-joy-color-scheme="dark"] .alternativemap {
  filter: invert(100%) hue-rotate(180deg) brightness(80%) contrast(100%) grayscale(1) !important;
}

[data-joy-color-scheme="dark"] .alternativelayers {
  filter: invert(100%) hue-rotate(180deg) brightness(80%) contrast(100%) grayscale(0) !important;
}

[data-joy-color-scheme="dark"] .defaultmap {
  filter: invert(100%) hue-rotate(180deg) brightness(80%) contrast(90%) grayscale(0.25) !important;
}

.leaflet-popup-content-wrapper,
.leaflet-tooltip,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 1px solid var(--joy-palette-neutral-outlinedBorder) !important;
  box-shadow:
    var(--joy-shadowRing, 0 0 #000),
    0px 1px 2px 0px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08));
}

.leaflet-popup-content-wrapper,
.leaflet-tooltip,
.leaflet-bar a,
.leaflet-container .leaflet-control-attribution,
.leaflet-popup-tip,
.leaflet-control-layers {
  background-color: var(--joy-palette-background-surface) !important;
  color: var(--joy-palette-text-primary) !important;
}

.leaflet-popup-content p {
  margin: inherit !important;
}

.leaflet-popup-content p.MuiTypography-root {
  margin: 0 !important;
}

.leaflet-control-layers-separator {
  border-top: 1px solid var(--joy-palette-neutral-outlinedBorder) !important;
}

.leaflet-bar a {
  border-bottom: 1px solid var(--joy-palette-neutral-outlinedBorder) !important;
}

.leaflet-tooltip::before {
  border-bottom-color: var(--joy-palette-background-surface) !important;
}

.leaflet-container {
  background-color: var(--joy-palette-background-surface) !important;
  font-family: inherit !important;
}

.icon {
  position: relative;
}

.icon.station,
.icon.train {
  border: 3px solid black;
}

.icon .tooltip {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--joy-palette-background-surface);
  padding: 0.2rem;
  border-radius: var(--joy-radius-sm);
  border: 1px solid var(--joy-palette-neutral-outlinedBorder);
  font-size: var(--joy-fontSize-md);
}

.icon .tooltip::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 5px solid transparent;
  border-bottom-color: var(--joy-palette-background-surface);
}

.icon.selected .tooltip {
  background-color: var(--joy-palette-primary-500);
  color: var(--joy-palette-text-primary);
}

.icon.selected .tooltip::before {
  border-bottom-color: var(--joy-palette-primary-500);
}

.icon.station .tooltip {
  white-space: nowrap;
  font-size: var(--joy-fontSize-sm);
}

.icon img {
  width: 100%;
  height: 100%;
}

.icon.train img {
  border-radius: 50%;
}

.icon.danger {
  border-color: var(--joy-palette-danger-600);
}

.icon.warning {
  border-color: var(--joy-palette-warning-600);
}

.icon.success {
  border-color: var(--joy-palette-success-600);
}

.icon.primary {
  border-color: var(--joy-palette-primary-600);
}

.icon.bot {
  background-color: var(--joy-palette-background-surface);
  padding: 0.3rem;
}

.icon.bot svg {
  fill: var(--joy-palette-text-primary);
}

.icon.bot.non-playable svg {
  fill: var(--joy-palette-warning-400);
}

.icon.train {
  border-radius: 50%;
}

.icon.station.player {
  border-color: var(--joy-palette-primary-600);
}

.icon.station {
  border-color: var(--joy-palette-warning-600);
}

.icon.signal.danger svg {
  fill: var(--joy-palette-danger-600);
}

.icon.signal.warning svg {
  fill: var(--joy-palette-warning-600);
}

.icon.signal.success svg {
  fill: var(--joy-palette-success-600);
}

.icon.signal.primary svg {
  fill: var(--joy-palette-primary-600);
}

.icon.signal.secondary svg {
  fill: var(--joy-palette-neutral-600);
}

.icon.selected-route svg {
  fill: var(--joy-palette-primary-600);
}

.leaflet-tooltip.pinned {
  border: 2px solid var(--joy-palette-primary-600) !important;
}

.leaflet-tooltip.pinned::before {
  border-bottom-color: var(--joy-palette-primary-600) !important;
}
